@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.3); /* slate-500/30 */
  border-radius: 8px;
}

.scroll-hidden {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

